::placeholder
{
    color: purple;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, top 1s ease, left 1s ease;
    -webkit-text-fill-color: purple !important;
}

.input3d
{
    color: purple;
    background: none;
    position: absolute;
    rotate: z 1deg;
    border: none;
    outline: none;
    font-size: 1.25vw;
    text-align: center;
    transition: all 1s ease;
}

#nameInput
{
    width: 16.5%;
    height: 4.5%;
    top: 23.5%;
    left: 38.5%;
}

.nameHover
{
    top: 24.25% !important;
    left: 38% !important;
}

#lastInput
{
    width: 15.5%;
    height: 4.25%;
    top: 24.125%;
    left: 58.75%;
}

.lastHover
{
    top: 25% !important;
    left: 57.5% !important;
}

#emailInput
{
    border-radius: 6vw;
    width: 35%;
    height: 3.5%;
    top: 37%;
    left: 39%;
    rotate: z 0.25deg;
}

.emailHover
{
    top: 37.25% !important;
    left: 37.5% !important;
}

#messageInput
{
    font-size: 1.15vw;
    width: 42%;
    height: 17%;
    top: 51%;
    left: 30.75%;
    rotate: z -0.25deg;
    text-align: left;
    overflow: hidden;
    resize: none;
}

.messageHover
{
    top: 51% !important;
    left: 30% !important;
}

#formSubmit
{
    rotate: z -1deg;
    position: absolute;
    width: 9.75vw;
    height: 5vh;
    background: none;
    top: 73vh;
    left: 41.5vw;
    border: none;
}

.formHover
{
    cursor: pointer;
    top: 72.25vh !important;
    left: 41vw !important;
}