#overviewPrimary
{
    background: rgba(13, 13, 13, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid rgba(13, 13, 13, 0.19);
    transform: translateX(20%);
    opacity: 0;
    transition: all 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 15px;
}

.overviewContentContainer {
    width: 97.5%;
    height: 47.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#overviewPrimary:hover
{
    cursor: default !important;
}

.Oshow
{
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.rolesWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.pfpContainer {
    width: 20%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titleWrapper {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

#overviewTitle
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    border-radius: 1vw;
    display: grid;
    place-items: center;
    font-size: 2.5vw;
    background-color: rgb(27, 14, 30);
    color: var(--purple-base);
    text-shadow: 1px 1px 22px var(--purple-color), -1px -1px 22px var(--purple-color),
        1px -1px 22px var(--purple-color), -1px 1px 22px var(--purple-color),
        0px 0px 2px var(--purple-color), 0px 0px 3px var(--purple-color), 0px 0px 4px var(--purple-color);
}

.roleDiv
{
    width: 30%;
    height: 75%;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    /*border: solid 1px rgb(181, 106, 224);*/
    /*background: /*linear-gradient(to top, #09203f 0%, #537895 100%) linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    background-image: linear-gradient(
        45deg,
        hsl(223deg 68% 6%) 0%,
        hsl(232deg 75% 16%) 14%,
        hsl(242deg 82% 26%) 40%,
        hsl(252deg 89% 35%) 62%,
        hsl(261deg 97% 45%) 76%,
        hsl(266deg 92% 55%) 85%,
        hsl(267deg 76% 65%) 92%,
        hsl(268deg 60% 75%) 96%,
        hsl(268deg 42% 84%) 99%,
        hsl(270deg 27% 94%) 100%
      );*/
}

.roleDiv::after {
    position: absolute;
    top: 110%;
    color: var(--purple-color);
}

.roleDiv:nth-of-type(1)::after {
    content: 'React';
}

.roleDiv:nth-of-type(2)::after {
    content: 'TypeScript';
}

.roleDiv:nth-of-type(3)::after {
    content: 'Docker';
}

.roleDiv img 
{
    width: 75%;
    aspect-ratio: 1;
    position: relative;
    /*top: 15%;
    left: 17.5%;*/
}

.overviewWrapper {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

#descTitle
{
    position: relative;
    padding: 5px;
    border-radius: 0.5vw;
    font-size: 1.25rem;
    margin: 0;
    margin-top: 10px;
    background-color: rgb(27, 14, 30);
    color: var(--purple-base);
    text-shadow: 1px 1px 22px var(--purple-color), -1px -1px 22px var(--purple-color),
        1px -1px 22px var(--purple-color), -1px 1px 22px var(--purple-color),
        0px 0px 2px var(--purple-color), 0px 0px 3px var(--purple-color), 0px 0px 4px var(--purple-color);
}

#overviewDesc
{
    color: var(--purple-color);
    width: 100%;
    height: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.15vw;
    line-height: 2;
}

.infoWrapper {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.infoMain
{
    width: 90%;
    height: 30%;
    margin-top: 1%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.infoTitle
{
    width: 30%;
    font-size: 1.25vw;
    overflow: hidden;
    border-radius: 0.25vw;
    display: grid;
    place-items: center;
    padding: 2%;
    background-color: rgb(27, 14, 30);
    color: var(--purple-base);
    text-shadow: 1px 1px 22px var(--purple-color), -1px -1px 22px var(--purple-color),
        1px -1px 22px var(--purple-color), -1px 1px 22px var(--purple-color),
        0px 0px 2px var(--purple-color), 0px 0px 3px var(--purple-color), 0px 0px 4px var(--purple-color);
}

.infoSplit
{
    overflow: hidden;
    font-size: 2vw;
    display: grid;
    place-items: center;
    position: relative;
    /*top: -10%;*/
    color: var(--purple-base);
    text-shadow: 1px 1px 22px var(--purple-color), -1px -1px 22px var(--purple-color),
        1px -1px 22px var(--purple-color), -1px 1px 22px var(--purple-color),
        0px 0px 2px var(--purple-color), 0px 0px 3px var(--purple-color), 0px 0px 4px var(--purple-color);
}

.infoDescWrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 65%;
    /*height: 100%;*/
}

.infoDesc
{
    font-size: 1.15vw;
    color: var(--purple-color);
    border-radius: 0.25vw;
    display: grid;
    place-items: center;
    padding: 5px;
    background-color: rgb(27, 14, 30);
}

#pfpWrapper
{
    height: 45%;
    aspect-ratio: 1 / 1;
    position: relative;
    margin-top: 15px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px var(--purple-color);
}

#pfpWrapper img
{
    width: 100%;
    aspect-ratio: 1 / 1;
}

#pfpTitle
{
    height: 15%;
    position: relative;
    /*top: 30%;
    left: 7.5%;*/
    font-size: 1rem;
    padding: 5px;
    overflow: hidden;
    border-radius: 0.25vw;
    display: grid;
    place-items: center;
    background-color: rgb(27, 14, 30);
    color: var(--purple-base);
    text-shadow: 1px 1px 22px var(--purple-color), -1px -1px 22px var(--purple-color),
        1px -1px 22px var(--purple-color), -1px 1px 22px var(--purple-color),
        0px 0px 2px var(--purple-color), 0px 0px 3px var(--purple-color), 0px 0px 4px var(--purple-color);
}

.spin img {
    animation: spin 8s linear infinite;
}

.bounce img {
    animation: bounce 5s ease-in-out infinite;
}

.shake img {
    animation: shake 7s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    10% {
        width: 75%;
        height: 75%;
    }
    20% {
        width: 70%;
        height: 70%;
    }
}

@keyframes shake {
    2% {
        transform: rotateZ(30deg);
    }
    4% {
        transform: rotateZ(-30deg);
    }
    6% {
        transform: rotateZ(30deg);
    }
    8% {
        transform: rotateZ(-30deg);
    }
    10% {
        transform: initial;
    }
}

/*@media only screen and (orientation: portrait)
{
    #overviewPrimary
    {
        width: 95vw !important;
        height: 140vh !important;
        left: 2.5vw !important;
    }

    #overviewTitle
    {
        width: 95%;
        left: 2.5%;
        top: 1%;
        font-size: 10vw;
        margin-top: 0;

    }

    .roleDiv
    {
        width: 30%;
        height: 12.5%;
        top: 42% !important;
    }

    #pfpWrapper
    {
        width: 25%;
        height: 11%;
        top: 20%;
    }
    
    #pfpTitle
    {
        width: 20%;
        height: 3%;
        top: 31%;
        left: 9.5%;
        padding: 1%;
        font-size: 3vw;
        border-radius: 1vw;
    }

    .infoMain
    {
        width: 45%;
        height: 3.5%;
        position: relative;
        top: 21% !important;
        left: 40% !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    
    .infoTitle
    {
        font-size: 3vw;
        border-radius: 0.5vw;
    }
    
    .infoSplit
    {
        font-size: 2vw;
        top: 5%;
        position: absolute;
        left: 40% !important;
    }
    
    .infoDescWrapper
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
        height: 100%;
        position: absolute;
        top: 0 !important;
        left: 44% !important;
    }
    
    .infoDesc
    {
        margin-left: 0 !important;
        font-size: 3vw;
        border-radius: 0.5vw;
    }

    .needsAfter::after
    {
        content: '(Expected May 2024)';
        position: absolute;
        top: 100%;
        font-size: 2.5vw;
    }

    #overviewDesc
    {
        width: 95%;
        height: 35%;
        top: 69%;
        left: 3%;
        font-size: 4vw;
        line-height: 1.75;
    }
    
    #descTitle
    {
        width: 95%;
        height: 5%;
        top: 62%;
        left: 2.5%;
        border-radius: 1vw;
        font-size: 5vw;
    }
}*/