#overviewPrimary
{
    background: rgba(13, 13, 13, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid rgba(13, 13, 13, 0.19);
    transform: translateX(20%);
    opacity: 0;
    transition: all 0.3s ease-in;
}

.Oshow
{
    opacity: 1 !important;
    transform: translateX(0) !important;
}

#overviewTitle
{
    width: 20%;
    height: 15%;
    position: absolute;
    top: -2%;
    left: 77.5%;
    border-radius: 1vw;
    display: grid;
    place-items: center;
    font-size: 2.5vw;
    background-color: rgb(27, 14, 30);
    color: var(--purple-base);
    text-shadow: 1px 1px 22px var(--purple-color), -1px -1px 22px var(--purple-color),
        1px -1px 22px var(--purple-color), -1px 1px 22px var(--purple-color),
        0px 0px 2px var(--purple-color), 0px 0px 3px var(--purple-color), 0px 0px 4px var(--purple-color);
}

.roleDiv
{
    width: 15%;
    height: 35%;
    position: absolute;
    border: solid 1px rgb(106, 191, 224);
    border-radius: 1vw;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.roleDiv img 
{
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 17.5%;
}

.descContainer
{
    width: 100%;
    height: 20%;
    position: absolute;
    top: 100%;
    display: grid;
    place-items: center;
}

.descContainer p 
{
    color: #216da0;
    text-align: center;
}

.roleDiv:hover
{
    cursor: pointer;
}

#overviewDesc
{
    color: #216da0;
    width: 60%;
    height: 35%;
    position: absolute;
    top: 51%;
    left: 3%;
    font-size: 1.15vw;
    line-height: 2;
}

.infoMain
{
    width: 34%;
    height: 5%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.infoTitle
{
    font-size: 1.25vw;
    overflow: hidden;
    border-radius: 0.25vw;
    display: grid;
    place-items: center;
    padding: 2%;
    background-color: rgb(27, 14, 30);
    color: var(--purple-base);
    text-shadow: 1px 1px 22px var(--purple-color), -1px -1px 22px var(--purple-color),
        1px -1px 22px var(--purple-color), -1px 1px 22px var(--purple-color),
        0px 0px 2px var(--purple-color), 0px 0px 3px var(--purple-color), 0px 0px 4px var(--purple-color);
}

.infoSplit
{
    overflow: hidden;
    font-size: 2vw;
    display: grid;
    place-items: center;
    position: relative;
    top: -10%;
    color: var(--purple-base);
    text-shadow: 1px 1px 22px var(--purple-color), -1px -1px 22px var(--purple-color),
        1px -1px 22px var(--purple-color), -1px 1px 22px var(--purple-color),
        0px 0px 2px var(--purple-color), 0px 0px 3px var(--purple-color), 0px 0px 4px var(--purple-color);
}

.infoDescWrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 73.25%;
    height: 100%;
}

.infoDesc
{
    font-size: 1.15vw;
    color: #216da0;
    border-radius: 0.25vw;
    display: grid;
    place-items: center;
    padding: 2.5%;
    background-color: rgb(27, 14, 30);
}