.main
{
    width: 90vw; 
    height: 20vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main:hover
{
    cursor: grab;
}

.main:active
{
    cursor: grabbing;
}

#main1
{
    top: 110vh;
}

#main2
{
    top: 130vh;
}