.main
{
    width: 90vw; 
    height: 30vh;
    position: absolute;
    top: 110vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main:hover
{
    cursor: grab;
}

.main:active
{
    cursor: grabbing;
}