#fadePrimary
{
    width: 90vw;
    height: 90vh;
    position: relative;
    /*top: 165vh;*/
    margin-top: 20px;
    left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(13, 13, 13, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    border: 1px solid rgba(13, 13, 13, 0.19);
    opacity: 0;
    transform: translateX(-30%);
    transition: all 0.5s ease;
    overflow: hidden;
}

#title
{
    width: 30%;
    height: 15%;
    position: absolute;
    top: 5%;
    left: 3%;
    border-radius: 1vw;
    display: grid;
    place-items: center;
    font-size: 2.5vw;
    background-color: rgb(27, 14, 30);
    color: var(--purple-base);
    text-shadow: 1px 1px 22px var(--purple-color), -1px -1px 22px var(--purple-color),
        1px -1px 22px var(--purple-color), -1px 1px 22px var(--purple-color),
        0px 0px 2px var(--purple-color), 0px 0px 3px var(--purple-color), 0px 0px 4px var(--purple-color);
}

#title::after
{
    content: '';
    background-color: aliceblue;
    position: absolute;
    width: 0.1%;
    height: 90%;
    top: 5%;
    left: 112.25%;
}

#stack_text
{
    width: 55%;
    height: 15%;
    position: absolute;
    top: 7.5%;
    left: 40%;
    display: grid;
    place-items: center;
    font-size: 1.3vw;
    color: var(--purple-color);
}

.main
{
    background-color: rgb(27, 14, 30);
    width: 70%; 
    height: 20%;
    position: relative;
    top: 15%;
    left: -12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main:hover
{
    cursor: grab;
}

.main:active
{
    cursor: grabbing;
}

#main1
{
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

#main3
{
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.show
{
    opacity: 1 !important;
    transform: translateX(0) !important;
}

#tabletContainer {
    background-color: rgb(27, 14, 30);
    border-radius: 1vw;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    box-shadow: 0px 0px 10px 1px #8e07f559, 0px 0px 35px 3px #8e07f559, 0px 0px 45px 5px #8e07f559, 0px 0px 35px 3px #8e07f559 inset;
    padding: 1%;
}

#tabletContainer div {
    width: 90%;
    height: 55%;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
}

#tabletContainer div:hover {
    cursor: pointer;
}

#tabletContainer div img {
    position: relative;
    width: 25%;
    aspect-ratio: 1 / 1;
    left: 7.5%;
}

#tabletContainer div div {
    width: 75%;
    display: flex;
    justify-content: center;
}

#tabletContainer div div p {
    font-weight: bold;
    font-size: large;
}

@media only screen and (max-width: 768px)
{
    
}