@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=REM:wght@300&display=swap');

body 
{
    margin: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #0f080f;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar
{
    display: none;
}