@keyframes scroll_wheel
{
    0% {top: 5%}
    100% {top: 75%}
}

@keyframes fade_in
{
    100% {opacity: 1;}
}

@keyframes slide_scroll
{
    0% {opacity: 0; top: 32vh;}
    100% {opacity: 1; top: 30vh;}
}

@keyframes slide_bio
{
    0% {opacity: 0; left: 70%;}
    100% {opacity: 1; left: 65%;}
}

@keyframes reveal
{
    0% {background: rgba(0, 0, 0, 0);}
    1% {background: linear-gradient(to right, var(--color) 0% 2%, rgba(0, 0, 0, 0) 3%);}
    2% {background: linear-gradient(to right, var(--color) 0% 4%, rgba(0, 0, 0, 0) 5%);}
    3% {background: linear-gradient(to right, var(--color) 0% 6%, rgba(0, 0, 0, 0) 7%);}
    4% {background: linear-gradient(to right, var(--color) 0% 8%, rgba(0, 0, 0, 0) 9%);}
    5% {background: linear-gradient(to right, var(--color) 0% 10%, rgba(0, 0, 0, 0) 11%);}
    6% {background: linear-gradient(to right, var(--color) 0% 12%, rgba(0, 0, 0, 0) 13%);}
    7% {background: linear-gradient(to right, var(--color) 0% 14%, rgba(0, 0, 0, 0) 15%);}
    8% {background: linear-gradient(to right, var(--color) 0% 16%, rgba(0, 0, 0, 0) 17%);}
    9% {background: linear-gradient(to right, var(--color) 0% 18%, rgba(0, 0, 0, 0) 19%);}
    10% {background: linear-gradient(to right, var(--color) 0% 20%, rgba(0, 0, 0, 0) 21%);}
    11% {background: linear-gradient(to right, var(--color) 0% 22%, rgba(0, 0, 0, 0) 23%);}
    12% {background: linear-gradient(to right, var(--color) 0% 24%, rgba(0, 0, 0, 0) 25%);}
    13% {background: linear-gradient(to right, var(--color) 0% 26%, rgba(0, 0, 0, 0) 27%);}
    14% {background: linear-gradient(to right, var(--color) 0% 28%, rgba(0, 0, 0, 0) 29%);}
    15% {background: linear-gradient(to right, var(--color) 0% 30%, rgba(0, 0, 0, 0) 31%);}
    16% {background: linear-gradient(to right, var(--color) 0% 32%, rgba(0, 0, 0, 0) 33%);}
    17% {background: linear-gradient(to right, var(--color) 0% 34%, rgba(0, 0, 0, 0) 35%);}
    18% {background: linear-gradient(to right, var(--color) 0% 36%, rgba(0, 0, 0, 0) 37%);}
    19% {background: linear-gradient(to right, var(--color) 0% 38%, rgba(0, 0, 0, 0) 39%);}
    20% {background: linear-gradient(to right, var(--color) 0% 40%, rgba(0, 0, 0, 0) 41%);}
    21% {background: linear-gradient(to right, var(--color) 0% 42%, rgba(0, 0, 0, 0) 43%);}
    22% {background: linear-gradient(to right, var(--color) 0% 44%, rgba(0, 0, 0, 0) 45%);}
    23% {background: linear-gradient(to right, var(--color) 0% 46%, rgba(0, 0, 0, 0) 47%);}
    24% {background: linear-gradient(to right, var(--color) 0% 48%, rgba(0, 0, 0, 0) 49%);}
    25% {background: linear-gradient(to right, var(--color) 0% 50%, rgba(0, 0, 0, 0) 51%);}
    26% {background: linear-gradient(to right, var(--color) 0% 52%, rgba(0, 0, 0, 0) 53%);}
    27% {background: linear-gradient(to right, var(--color) 0% 54%, rgba(0, 0, 0, 0) 55%);}
    28% {background: linear-gradient(to right, var(--color) 0% 56%, rgba(0, 0, 0, 0) 57%);}
    29% {background: linear-gradient(to right, var(--color) 0% 58%, rgba(0, 0, 0, 0) 59%);}
    30% {background: linear-gradient(to right, var(--color) 0% 60%, rgba(0, 0, 0, 0) 61%);}
    31% {background: linear-gradient(to right, var(--color) 0% 62%, rgba(0, 0, 0, 0) 63%);}
    32% {background: linear-gradient(to right, var(--color) 0% 64%, rgba(0, 0, 0, 0) 65%);}
    33% {background: linear-gradient(to right, var(--color) 0% 66%, rgba(0, 0, 0, 0) 67%);}
    34% {background: linear-gradient(to right, var(--color) 0% 68%, rgba(0, 0, 0, 0) 69%);}
    35% {background: linear-gradient(to right, var(--color) 0% 70%, rgba(0, 0, 0, 0) 71%);}
    36% {background: linear-gradient(to right, var(--color) 0% 72%, rgba(0, 0, 0, 0) 73%);}
    37% {background: linear-gradient(to right, var(--color) 0% 74%, rgba(0, 0, 0, 0) 75%);}
    38% {background: linear-gradient(to right, var(--color) 0% 76%, rgba(0, 0, 0, 0) 77%);}
    39% {background: linear-gradient(to right, var(--color) 0% 78%, rgba(0, 0, 0, 0) 79%);}
    40% {background: linear-gradient(to right, var(--color) 0% 80%, rgba(0, 0, 0, 0) 81%);}
    41% {background: linear-gradient(to right, var(--color) 0% 82%, rgba(0, 0, 0, 0) 83%);}
    42% {background: linear-gradient(to right, var(--color) 0% 84%, rgba(0, 0, 0, 0) 85%);}
    43% {background: linear-gradient(to right, var(--color) 0% 86%, rgba(0, 0, 0, 0) 87%);}
    44% {background: linear-gradient(to right, var(--color) 0% 88%, rgba(0, 0, 0, 0) 89%);}
    45% {background: linear-gradient(to right, var(--color) 0% 90%, rgba(0, 0, 0, 0) 91%);}
    46% {background: linear-gradient(to right, var(--color) 0% 92%, rgba(0, 0, 0, 0) 93%);}
    47% {background: linear-gradient(to right, var(--color) 0% 94%, rgba(0, 0, 0, 0) 95%);}
    48% {background: linear-gradient(to right, var(--color) 0% 96%, rgba(0, 0, 0, 0) 97%);}
    49% {background: linear-gradient(to right, var(--color) 0% 98%, rgba(0, 0, 0, 0) 99%);}
    50% {background: linear-gradient(to right, var(--color) 0% 99%, rgba(0, 0, 0, 0) 100%);}
    51% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 2%, var(--color) 3%);}
    52% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 4%, var(--color) 5%);}
    53% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 6%, var(--color) 7%);}
    54% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 8%, var(--color) 9%);}
    55% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 10%, var(--color) 11%);}
    56% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 12%, var(--color) 13%);}
    57% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 14%, var(--color) 15%);}
    58% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 16%, var(--color) 17%);}
    59% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 18%, var(--color) 19%);}
    60% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 20%, var(--color) 21%);}
    61% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 22%, var(--color) 23%);}
    62% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 24%, var(--color) 25%);}
    63% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 26%, var(--color) 27%);}
    64% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 28%, var(--color) 29%);}
    65% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 30%, var(--color) 31%);}
    66% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 32%, var(--color) 33%);}
    67% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 34%, var(--color) 35%);}
    68% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 36%, var(--color) 37%);}
    69% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 38%, var(--color) 39%);}
    70% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 40%, var(--color) 41%);}
    71% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 42%, var(--color) 43%);}
    72% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 44%, var(--color) 45%);}
    73% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 46%, var(--color) 47%);}
    74% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 48%, var(--color) 49%);}
    75% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 50%, var(--color) 51%);}
    76% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 52%, var(--color) 53%);}
    77% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 54%, var(--color) 55%);}
    78% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 56%, var(--color) 57%);}
    79% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 58%, var(--color) 59%);}
    80% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 60%, var(--color) 61%);}
    81% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 62%, var(--color) 63%);}
    82% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 64%, var(--color) 65%);}
    83% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 66%, var(--color) 67%);}
    84% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 68%, var(--color) 69%);}
    85% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 70%, var(--color) 71%);}
    86% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 72%, var(--color) 73%);}
    87% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 74%, var(--color) 75%);}
    88% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 76%, var(--color) 77%);}
    89% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 78%, var(--color) 79%);}
    90% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 80%, var(--color) 81%);}
    91% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 82%, var(--color) 83%);}
    92% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 84%, var(--color) 85%);}
    93% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 86%, var(--color) 87%);}
    94% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 88%, var(--color) 89%);}
    95% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 90%, var(--color) 91%);}
    96% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 92%, var(--color) 93%);}
    97% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 94%, var(--color) 95%);}
    98% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 96%, var(--color) 97%);}
    99% {background: linear-gradient(to right, rgba(0, 0, 0, 0) 0% 98%, var(--color) 99%);}
    100% {background: rgba(0, 0, 0, 0);}
}